.listItem {
  margin: 1rem 0;
  background: #3d3635;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
